:root {
    --main-color: #74CB48;
    /* Par défaut */
}

.pokemon-item-container {
    background-image: url('../svg/pokeball-bg.svg');

    background-color: white;
    padding: 1em;
    border-radius: 16px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    justify-items: center;
}


.pokemon-item {


    width: 80%;

    background-color: var(--main-color);
    padding: 1em;
    border-radius: 20px;


    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    .pokemon-name {
        color: white;
        grid-column: 1 / 3;

        z-index: 1111;

        justify-self: start;
        font-size: 3em;
        grid-row: 1;
        margin: 0em;

        text-transform: capitalize;
    }


    h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 1.5em;
        text-align: center;

        color: var(--main-color);
    }

    .pokemon-id {
        color: white;

        grid-column: 3;
        justify-self: end;
        grid-row: 1;
        font-size: 3em;

    }




    .infos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                font-size: 1.4em;
            }

            .desc {
                font-size: 0.9em;
            }
        }

        div:nth-child(2) {
            border-right: 0.1em solid #ddd;
            border-left: 0.1em solid #ddd;

        }
    }


    .stats {

        .stat-item {

            display: grid;
            grid-template-columns: 2fr 1fr 2fr;
            align-items: center;

            .stat-name {
                text-transform: uppercase;
                font-weight: 600;
                margin-right: 3em;
                color: var(--main-color);
                padding-right: 1em;
                border-right: solid 0.15em #ddd;
            }
        }
    }

    .abilities {
        p {
            text-transform: capitalize;
        }
    }

    .pokemon-img {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        z-index: 11;

        margin-top: 3em;

        width: 9em;
        align-self: baseline;
        justify-self: center;
    }

    .bottom-side {
        grid-row: 1 / -1;
        grid-column: 1 / -1;
        justify-self: center;

        background-color: white;
        padding: 1em;


        border-radius: 14px;
        width: 100%;

        display: flex;

        align-items: center;

        flex-direction: column;

        margin-top: 9em;
        padding-top: 5em;




        .types {
            display: flex;
            gap: 0.5em;
            margin-left: 1em;


            p {
                font-size: 1.1em;
                color: white;
                padding: 0.3em 0.7em;
                width: max-content;
                border-radius: 32px;
                font-weight: bold;
            }

            .type-fire {
                background-color: #F57D31;
            }

            .type-bug {
                background-color: #A7B723;
            }

            .type-normal {
                background-color: #AAA67F;
            }

            .type-fighting {
                background-color: #C12239;
            }

            .type-flying {
                background-color: #A891EC;
            }

            .type-ground {
                background-color: #DEC16B;
            }

            .type-poison {
                background-color: #A43E9E;
            }

            .type-rock {
                background-color: #B69E31;
            }

            .type-ghost {
                background-color: #70559B;
            }

            .type-steel {
                background-color: #B7B9D0;
            }

            .type-water {
                background-color: #6493EB;
            }

            .type-grass {
                background-color: #74CB48;
            }

            .type-electric {
                background-color: #F9CF30;
            }

            .type-psychic {
                background-color: #FB5584;
            }

            .type-ice {
                background-color: #9AD6DF;
            }

            .type-dragon {
                background-color: #7037FF;
            }

            .type-dark {
                background-color: #75574C;
            }

            .type-fairy {
                background-color: #E69EAC;
            }
        }

    }
}


/* Style de base pour la balise progress */
.custom-progress {
    appearance: none;
    /* Enlever le style natif */
    width: 100%;
    /* Adapter à la largeur */
    height: 10px;
    /* Hauteur de la barre */
    border: none;
    /* Pas de bordure */
    border-radius: 10px;
    /* Coins arrondis */
    background-color: #ddd;
    /* Couleur de fond */
    overflow: hidden;
    /* Empêcher le dépassement */
}

/* Style de la partie remplie */
.custom-progress::-webkit-progress-value {
    background-color: var(--main-color);
    /* Couleur de la barre (vert ici) */
    border-radius: 10px;
    /* Coins arrondis */
    transition: width 0.3s ease;
    /* Animation fluide */
}

.custom-progress::-moz-progress-bar {
    background-color: var(--main-color);
    /* Couleur pour Firefox */
    border-radius: 10px;
    transition: width 0.3s ease;
}

/* Style de la partie non remplie (barre de fond) */
.custom-progress::-webkit-progress-bar {
    background-color: #f5f5f5;
    /* Couleur de fond */
    border-radius: 10px;
}


.pokemon-purchase {
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Arial', sans-serif;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;



    .price {
        font-size: 1.8em;
        margin: 0.2em;
    }

    h1 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 20px;
    }

    .quantity-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;

        button {
            background-color: var(--main-color);
            ;
            color: #fff;
            border: none;

            border-radius: 1000px;
            width: 1.6em;
            aspect-ratio: 1 / 1;
            font-size: 2rem;
            font-weight: 700;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #e0e0e0;
            }

            &:disabled {
                background-color: #ccc;
                cursor: not-allowed;
            }
        }

        .display-qty {
            font-size: 1.2rem;
            color: #555;
        }
    }

    .remove-button {

        background-color: #e74c3c;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #c0392b;
        }
    }

    button.buy-button {
        background-color: #28a745;
        color: #fff;
        padding: 12px 24px;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #218838;
        }
    }
}


.cart-container-link {
    margin-top: 10px;

    p {
        color: #007bff;
        text-decoration: none;
        font-size: 1.2rem;
        transition: color 0.3s ease;

        &:hover {
            color: #0056b3;
            text-decoration: underline;
        }
    }
}



.buy-button-card {
    background-color: var(--main-color);
    border-radius: 32px;
    border: none;
    color: white;
    font-weight: 800;
    font-size: 2em;
    padding: 0.5rem 1em;

    &:hover {
        cursor: pointer;
    }

}



/* Media Query pour 1100px */
@media (max-width: 1100px) {
    .pokemon-item-container {
        grid-template-columns: 1fr;
        /* Passer à une seule colonne */
    }

    .pokemon-item {
        width: 90%;
        /* Ajuster la largeur des éléments */
    }

    .pokemon-img {
        width: 6em;
        /* Réduire la taille de l'image */
        height: auto;
    }
}

/* Media Query pour 992px */
@media (max-width: 992px) {
    .pokemon-item-container {
        grid-template-columns: 1fr;
        /* Passer à une seule colonne */
    }

    .pokemon-item {
        width: 90%;
        /* Ajuster la largeur des éléments */
    }

    .pokemon-img {
        width: 5em;
        /* Réduire la taille de l'image */
        height: auto;
    }
}

/* Media Query pour 768px */
@media (max-width: 768px) {
    .pokemon-item-container {
        grid-template-columns: 1fr;
        /* Passer à une seule colonne */
    }

    .pokemon-item {
        width: 90%;
        /* Ajuster la largeur des éléments */
    }

    .pokemon-img {
        width: 4em;
        /* Réduire la taille de l'image */
        height: auto;
    }
}

/* Media Query pour 576px */
@media (max-width: 576px) {
    .pokemon-item-container {
        grid-template-columns: 1fr;
        /* Passer à une seule colonne */
    }

    .pokemon-item {
        width: 90%;
        /* Ajuster la largeur des éléments */
    }

    .pokemon-img {
        width: 3em;
        /* Réduire la taille de l'image */
        height: auto;
    }

    /* Autres éléments peuvent aussi être ajustés pour être plus petits */
    .pokemon-name {
        font-size: 1.5em;
        /* Réduire la taille du texte du nom */
    }

    .pokemon-id {
        font-size: 1.5em;
        /* Réduire la taille du texte de l'ID */
    }

    h1 {
        font-size: 1.2em;
        /* Réduire la taille du titre */
    }
}