@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'reset';

.card-container{

    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #c4c3c3;

    background-color: white;
    border-radius: 16px;

    padding: 2em;

    display: grid;
    

    grid-template-columns: repeat(5,1fr);
    gap:2em;
    justify-items: center;

    .pokemon-card{
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 15vw;
        aspect-ratio: 1 / 1;
        border-radius: 16px;


        display: grid;
        grid-template-columns: repeat(3,1fr);
        flex-direction: column;
        align-items: center;

        .pokemon-name{
            background-color: #EFEFEF;
            width: 100%;
            height: 100%;
            

            border-radius: 24px;

            border-bottom-right-radius: 16px;
            border-bottom-left-radius: 16px;

            text-transform: capitalize;
            text-align:center;
            color: black;
            font-weight: 500;
            grid-column: 1 / -1;
            grid-row: 2;
            align-self:center;

            align-items: end;

            justify-content: center;

            display: flex;
            

            h1{
                font-size: 1.8em;
                font-weight: 400;
            }

        }

        .pokemon-img{

            height: 50%;
            grid-column: 1 / -1;

            align-self:center;

            grid-row: 1 / 3;
            z-index: 2;
            justify-self: center;
        }

        .pokemon-id{
            font-size: 1.2em;
            grid-column: 3;
            grid-row: 1;
            align-self:baseline;
            justify-self: end;

            margin-right: 1em;
            margin-top: 0.5em;

        }

        .types{
            display: flex;
            gap: 0.5em;

            grid-column: 1;
            grid-row: 1;

            align-self: baseline;
            margin-left: 1em;

            p{
                font-size: 0.8em;
                color:white;
                padding: 0.3em 0.7em;
                width: max-content;
                border-radius: 32px;
                font-weight: bold;

                
            }


            .type-fire{
                background-color: #F57D31;
            }
            .type-bug{
                background-color: #A7B723;
            }
            .type-normal{
                background-color: #AAA67F;
            }
            .type-fighting{
                background-color: #C12239;
            }
            .type-flying{
                background-color: #A891EC;
            }
            .type-ground{
                background-color: #DEC16B;
            }
            .type-poison{
                background-color: #A43E9E;
            }
            .type-rock{
                background-color: #B69E31;
            }
            .type-ghost{
                background-color: #70559B;
            }
            .type-steel{
                background-color: #B7B9D0;
            }
            .type-water{
                background-color: #6493EB;
            }
            .type-grass{
                background-color: #74CB48;
            }
            .type-electric{
                background-color: #F9CF30;
            }
            .type-psychic{
                background-color: #FB5584;
            }
            .type-ice{
                background-color: #9AD6DF;
            }
            .type-dragon{
                background-color: #7037FF;
            }
            .type-dark{
                background-color: #75574C;
            }
            .type-fairy{
                background-color: #E69EAC;
            }
        }


        &:hover{
            transform: scale(1.1);
            cursor: grab;
        }
    }
}


.pagination{
    display: flex;
    justify-content: center;
    gap: 1em;

    grid-column: 1 / -1;

    button{
        background-color: #DC0A2D;
        color: white;
        border:none;
        border-radius: 32px;
        padding: 0.3em 1em;
        font-size: 1em;
        font-weight: 600;

        &:hover{
            cursor: grab;
            background-color: #f30d33;
        }
    }
}